@import "../../../scss/theme/vars";
@import "../../../scss/theme/mixins";
@import "../../../scss/theme/base";
@import '~@glidejs/glide/src/assets/sass/glide.core';

.slider {
  position: relative;
  color: black;

  &-text {
    position: relative;

    &::before {
      content: '';
      max-width: 1023px;
      min-width: 500px;
      width: 100%;
      height: 100%;
      position: absolute;
      left: -40%;
      top: 0;
      background-color: rgba(0, 0, 0, 0.4);
      transform: skew(-11deg, 0);
      z-index: -1;

      @include mqMin(tablet) {
        left: -27%;
      }
    }
    &__inner {
      position: relative;
      padding-top: 120px;
      padding-bottom: 40px;
      max-width: $container-width;
      margin:  0 auto;
      z-index: 1;
      padding-left: 40px;

      @include mqMin(tablet) {
        padding-left: 70px;
      }

      @include mqMin(desktop) {
        padding-top: 70px;
      }

      @include mqMin(1265px) {
        padding-left: 0;
      }

      &::before {
        content: '';
        width: 3px;
        height: 200px;
        background-color: white;
        transform: skew(-16deg);
        position: absolute;
        top: 67px;
        display: none;


        @include mqMin(desktop) {
          left: 22px;
          display: block;
        }

        @include mqMin(1265px) {
          left: -44px;
        }
      }
    }

    &__top {
      text-transform: uppercase;
      font-family: $font-intro;
      font-weight: 700;
      position: relative;
      display: inline-block;
      margin-bottom: 15px;
      font-size: 45px;

      @include mqMin(desktop) {
        font-size: 90px;
      }


      &::before {
        content: '';
        height: 102%;
        width: calc(100% + 40px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skew(-16deg);
        background-color: rgba(255, 255, 255, 0.7);
        z-index: -1;
      }
    }

    &__btn {
      width: 225px;
      height: 45px;
      border: 2px solid white;
      font-size: 23px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 41px;
    }
  }

  &-info {
    font-family: $font-intro;

    &__type {
      font-weight: 900;
      font-style: italic;
      position: relative;
      margin-right: 25px;
      min-height: 60px;
      display: inline-block;
      font-size: 36px;
      white-space: nowrap;

      span {
        position: relative;
        left: -15px;
        width: 252px;
        display: inline-block;
        text-align: center;
      }

      &::before {
        content: '';
        height: 102%;
        width: 267px;
        position: absolute;
        top: 50%;
        left: -22px;
        transform: translate(0, -50%) skew(-16deg);
        background-color: rgba(255, 255, 255, 0.7);
        z-index: -1;

        @include mqMin(desktop) {
          width: 300px;
          left: -48px;
        }
      }

      &::after {
        content: '';
        height: 3px;
        width: 252px;
        position: absolute;
        bottom: 10px;
        left: -16px;
        z-index: -1;
        background-color: black;
      }
    }

    &__numb {
      position: relative;
      top: 14px;
      display: inline-block;
      font-size: 50px;
      color: white;
      font-weight: 900;


      span {
        font-size: 17px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%) skew(-16deg);
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75);
        background-image: linear-gradient(to right, #2aeb2a 0%, #007500 100%);
        z-index: -1;
        width: 127%;
        height: 90%;
      }
    }
  }

  &__white-text {
    color: white;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    margin:  25px 0;
  }

  .glide {
    &__track {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
    }

    &__slides {
      height: 100%;
    }

    &__arrows {
      display: flex;
      align-items: center;
      margin-top: 53px;
    }

    &__arrow {
      font-size: 0;
      width: 19px;
      height: 34px;
      border: 0;
      background-color: transparent;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url("../../../../assets/imgs/arrow.svg");
      cursor: pointer;

      &--left {
        margin-right: 42px;
      }

      &--right {
        transform: rotate(180deg);
        position: relative;
        top: -3px;
        margin-left: 40px;
      }
    }

    &__bullet {
      background-color: transparent;
      border: 2px solid white;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      cursor: pointer;
      position: relative;

      &::before {
        content: '';
        border: 2px solid black;
        background-color: #ffffff;
        border-radius: 50%;
        width: 99%;
        height: 99%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: opacity 0.5s ease;
      }

      &:not(:last-child) {
        margin-right: 16px;
      }

      &--active {
        &::before {
          opacity: 1;
        }
      }
    }
  }
  
  &-list {
    background-color:  rgba(255, 255, 255, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;

    &__inner {
      max-width: $container-width;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 0;
      align-items: center;

      @include mqMin(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }


      @include mqMin(desktop) {
        flex-wrap: nowrap;
      }
    }

    &__item {
      padding-top: 120px;
      max-width: 400px;
      position: relative;
      text-align: center;
      list-style-type: none;
      font-size: 20px;

      @include mqMin(tablet) {
        width: 50%;
      }

      @include mqMin(desktop) {
        width: auto;
        max-width: 264px;
      }

      &:not(:last-child) {
        margin-bottom: 25px;

        @include mqMin(tablet) {
          margin-bottom: 0;
        }
      }

      @include mqMin(desktop) {
        font-size: 22px;
      }

      &::before {
        content: '';
        width: 98px;
        height: 98px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          &::before {
            background-image: url('../../../../assets/imgs/list-img-#{$i}.svg');
          }
        }
      }
    }

    &__title {
      font-weight: 700;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 16px;
    }
  }
}