*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background: white;
  font-family: $font-primary;
  color: $font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  word-wrap: break-word;
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

svg {
  overflow: hidden;
}

figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

.btn {
  border-radius: 5px;
  color: white;
  font-family: $font-primary;
  display: inline-block;
  text-align: center;

  &--red {
    background-image: linear-gradient(to top, #ff4f58 0%, #fd7048 100%);

    &:hover {
      background-image: linear-gradient(to top, #fd7048 0%, #ff4f58 100%);
    }
  }
}

.home-page {
  padding-top: 55px;
}
