$fnt-weight-regular: 300;
$fnt-weight-light: 100;
$fnt-weight-medium: 500;
$fnt-weight-bold: 700;
$fnt-weight-black: 900;

$path: '../fonts/Intro-Regular';

@font-face {
  font-family: Intro;
  src: url('#{$path}.eot');
  src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg#MuseoSansLight') format('svg');
  font-weight: $fnt-weight-regular;
  font-style: normal;
}

$path: '../fonts/Intro-Black-Italic';

@font-face {
  font-family: Intro;
  src: url('#{$path}.eot');
  src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg#MuseoSansLight') format('svg');
  font-weight: $fnt-weight-black;
  font-style: italic;
}

$path: '../fonts/ProximaNova-Bold';

@font-face {
  font-family: ProximaNova;
  src: url('#{$path}.eot');
  src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg#MuseoSansLight') format('svg');
  font-weight: $fnt-weight-bold;
  font-style: normal;
}

$path: '../fonts/ProximaNova-Regular';

@font-face {
  font-family: ProximaNova;
  src: url('#{$path}.eot');
  src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg#MuseoSansLight') format('svg');
  font-weight: $fnt-weight-regular;
  font-style: normal;
}

$path: '../fonts/TimesNewRomanRegular';

@font-face {
  font-family: TimesNewRoman;
  src: url('#{$path}.eot');
  src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg#MuseoSansLight') format('svg');
  font-weight: $fnt-weight-regular;
  font-style: normal;
}




