/*
 *  Fonts
 */
$font-primary: "ProximaNova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
"Noto Color Emoji";

$font-intro: "Intro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
"Noto Color Emoji";

/*
 *  Font size
 */
$base-font-size: 18px;


/*
 *  Line height
 */
$base-line-height: 1.2;


/*
 *  Font weight
 */
$base-font-weight: 400;


/*
 *  Colors
 */
$black: #333;
$font-color: $black;

/*
 *  Responsive widths
 */
$desktop: 1024px;
$tablet: 768px;
$mobile: 480px;


/*
 *  Blocks width
 */
$container-width: 1130px;


/*
 *  Padding
 */
$section-padding-leftRight-mobile: 16px;
$section-padding-leftRight-desktop: 12px;

