@import "../../../scss/theme/vars";
@import "../../../scss/theme/mixins";
@import "../../../scss/theme/base";

.header {
  min-height: 91px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  .header-top {
    min-height: 55px;
    padding: 18px $section-padding-leftRight-mobile 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: $container-width;
    margin: 0 auto;

    @include mqMin(desktop) {
      padding: 0 $section-padding-leftRight-desktop;

      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__btn {
      padding: 0 10px;
      height: 30px;
      border: 0;
      font-size: 13px;
      font-weight: 700;
      cursor: pointer;
    }

    &__left {
      display: flex;
      flex-direction: column;
      margin-bottom: 3px;

      @include mqMin(desktop) {
        margin-bottom: 0;
        flex-direction: row;
        align-items: center;
      }
    }

    &__right {
      display: flex;
      align-items: center;
    }

    &__phone {
      color: black;
      text-decoration: none;
      font-weight: bold;
      margin-right: 17px;
      font-size: 20px;

      @include mqMin(desktop) {
        font-size: 35px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &__logo {
      margin-right: 15px;
    }

    &__text {
      text-transform: uppercase;
      font-size: 13px;
      max-width: 200px;
    }
  }

  .header-bottom {
    padding: 0 $section-padding-leftRight-mobile;
    background-color: rgba(0,0,0, 0.6);
    max-height: 45px;
    min-height: 35px;
    position: relative;
    overflow: hidden;
    transition: max-height 0.5s ease, background-color 0.3s ease;

    @include mqMin(desktop) {
      padding: 0 $section-padding-leftRight-desktop;
    }

    &--open {
      max-height: 1000px;
      background-color: rgba(0,0,0, 0.9);
    }

    &__menu-btn {
      background-color: transparent;
      border: 0;
      display: block;
      margin: 0 auto;
      line-height: 45px;
      color: white;
      font-family: $font-primary;
      font-size: 16px;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      cursor: pointer;

      @include mqMin(desktop) {
        display: none;
      }
    }

    .header__menu {
      max-width: $container-width;
      margin: 0 auto;
      width: 100%;

      @include mqMin(desktop) {
        height: 100%;
        max-height: 100%;
        overflow: visible;
      }


      &-list {
        height: 100%;

        @include mqMin(desktop) {
          display: flex;
          justify-content: space-between;
        }

        &-item {
          list-style-type: none;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1 1 auto;
          position: relative;
          min-height: 35px;

          &:not(:last-child)::after {
            @include mqMin(desktop) {
              content: '';
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              position: absolute;
              width: 1px;
              height: 16px;
              background-color: white;
            }
          }

          a {
            color: white;
            opacity: 0.7;
            text-decoration: none;
            font-size: 14px;
            letter-spacing: 0.7px;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .logo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #040404;
    text-decoration: none;

    @include mqMin(desktop) {
      font-size: 30px;
    }
  }
}